# Node.js related
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/
# production
build/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

static-cdn-local/admin/
static-cdn-local/css/
static-cdn-local/img/
static-cdn-local/js/
static-cdn-local/rest_framework/


# Django stuff:
*.log
local_settings.py
db.sqlite3

# Environments

env
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#other folders
Project-unfoldnest/
.vscode
